@import "../../scss/variables";
@import '../../scss/mixins';

.contenedorGallery {
  margin: 25px 0;
  display: grid;
  grid-template-columns: $margenFina 20% auto 20% $margenFina;
  /* Responsive */
  @include smallTablet(){
    grid-template-columns: 5% auto 5%;
    }
    @include Asmall(){
    grid-template-columns: 5% auto 5%;
    }
  .menuGalleryContainer {
    grid-column: 3;
    @include smallTablet(){
        grid-column: 2;
    }
    @include Asmall(){
        grid-column: 2;
    }
  }
  .gallery {
    grid-column: 3;
    display: grid;
    /* Responsive */
    @include smallTablet(){
        grid-column: 2;
    }
    @include Asmall(){
        grid-column: 2;
    }
    .row {
      align-self: center;
      justify-self: center;
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      .column {
        flex: 33%;
        max-width: 33%;
        padding: 0 4px;
        img {
          margin-top: 8px;
          vertical-align: middle;
          width: 100%;
        }
      }
    }

    .negative{
        margin: 30px 0;
    }
  }
}
